.movie-list_item {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 5px;
    margin-top: 10px;
}
.card_img {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.card_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}
.card_year {
    border: 1px solid #b5b5b5;
    padding: 4px;
    font-size: 14px;
}
.card_title {
    font-weight: bold;
}
.card_category {
    font-size: 12px;
    color: #b5b5b5;
}
.card_link {
    text-decoration: none;
}