.footer {
    display: flex;
    align-items: center;
    margin: 20px 20px;
    padding: 10px 20px;
    height: 40px;
    background: #414141;
}
.footer_title {
    font-size: 18px;
    font-weight: bold;
    color: #f55263;
}