.search_header {
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);
}
.container {
    margin: 10px 20px;
    background: url('https://jobs.netflix.com/assets/images/home/US-en-20170529-popsignuptwoweeks-perspective_alpha_website_small-for-jobsite-ccb8666ed8040655096e5051ced4e31b.jpg') center ;
    background-size: cover;
}
input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(175, 61, 75);
    height: 30px;
    background-color: rgba(0, 0, 0, 0.73);
    color: white;
}
input:focus {
    outline: none;
}
.search_label {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
}
.label_btn {
    color: white;
}
.sort_button {
    margin: 10px;
    padding: 5px 10px;
    border: none;
    color: white;
    background: #3c3c3c;
}
.sort_button-active {
    margin: 10px;
    padding: 5px 10px;
    border: none;
    color: white;
    background: #f55263;
}
.search_title {
    margin-top: 0px;
    color: #af3d4b;
    text-align: left;
    font-size: 18px;
}
.active {
    background: #f55263;
}
.search_bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.search {
    margin-top: 10px;
}
.search_btn {
    border: none;
    padding: 10px 70px;
    background: #f55263;
    color: white;
    font-size: 16px;
}
.result_btn {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.result_btn--active {
    font-weight: bold;
}