.movie {
    background: url('https://jobs.netflix.com/assets/images/home/US-en-20170529-popsignuptwoweeks-perspective_alpha_website_small-for-jobsite-ccb8666ed8040655096e5051ced4e31b.jpg') center ;
    background-size: cover;
}
.movie_container {
    background-color: rgba(0, 0, 0, .7);
}
.movie_item {
    display: flex;
    color:white;
    padding: 20px
}
.movie_img {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
}
.movie_item_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}
.movie_item_image {
    width: 40%;
}
.movie_item_realese {
    margin: 5px;
    font-weight: bold;
}
.movie_item_title {
    color: #f55263;
    font-size: 25px;
    font-weight: bold
}
.movie_item_summary {
    text-align: left;
    color: #b4b4b4;
    font-size: 18px;
}
.movie_item_rating {
    margin-left: 15px;
    border: 1px solid green;
    border-radius: 50%;
    padding: 8px;
    color: green;
}
.link {
    padding: 5px 15px;
    border: none;
    background: white;
    color: #f55263;
}
.movie_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.netflixroulette {
    margin-left: 20px;
    color: #f55263;
    font-weight: bold;
}
.movie_category {
    margin: 5px 10px;
    color: #b4b4b4;
    font-size: 18px;
}
.movie_list_category {
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
}