h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
}
a {
  text-decoration: none;
}
.link {
  margin: 20px;
  text-decoration: none;
}
.active {
  font-weight: bold;
}
.movies_found {
  margin: 10px 20px;
}